<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @competition.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @competition.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @competition.location %>
</p>

<p>
  <strong>Country:</strong>
  <%= @competition.country %>
</p>

<p>
  <strong>Group:</strong>
  <%= @competition.group %>
</p>

<p>
  <strong>Distance Type:</strong>
  <%= @competition.distance_type %>
</p>

<p>
  <strong>Rang:</strong>
  <%= @competition.rang %>
</p>

<%= link_to 'Edit', edit_competition_path(@competition) %> |
<%= link_to 'Back', competitions_path %>
