<div class="jumbotron">
    <h1 class="display-4">
        <%= runner.name %>  <%= runner.surname %>
    </h1>
  <p> <strong>Dob:</strong>
  <%= runner.dob %>
</p>

<p>
  <strong>Category:</strong>
  <%= runner.category.name %>
</p>

<p>
  <strong>Club:</strong>
  <%= link_to runner.club.name, club_path(runner.club) %>
</p>
</div>
