<h1 style="text-align:center; color:green">Runners</h1>

 <%= will_paginate @runners, previous_label: '&laquo;', next_label: '&raquo;' %>

<%= render partial: '/layouts/index'  %>
 <%= will_paginate @runners, previous_label: '&laquo;', next_label: '&raquo;' %>

<br>

<% if user_signed_in? %>
<%= link_to('New Runner', new_runner_path, class: "btn btn-info") %>
<% end %>


<h4>Runner Search:</h4>

<%= form_tag(runners_path, method: :get) do %>
<%= text_field_tag(:search, params[:search]) %>
<%= submit_tag ("Search") %>
<% end %>
