<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :clasa %>
    <%= form.text_field :clasa %>
  </div>

  <div class="field">
    <%= form.label :rang %>
    <%= form.text_field :rang %>
  </div>

  <div class="field">
    <%= form.label :competition %>
    <%= form.text_field :competition %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
