<%= @error_hash %>
<%= form_tag competition_file_path, multipart: true  do %>
<label for="id">File Path</label>
<%= file_field_tag :path %>
<%= submit_tag "Submit" %>
<% end %>
<% if @competition_index %>
<h3>Added Competitions</h3>
<% @index_array = @competition_index %>
</p>
<%= render partial: '/layouts/index'%>
<% end %>
<% unless @fail_competition.blank? %>
<p>
    <%= @fail_cometition %>
</p>
<% end %>
<% if @runner_index %>
<h3>Added Runners</h3>
<% @index_array = @runner_index %>
</p>
<%= render partial: '/layouts/index'%>
<% end %>
<% unless @fail_runner.blank? %>
<p>
    <%= @fail_runner %>
</p>
<% end %>
<% if @result_index %>
<h3>Added Results</h3>
<% @index_array = @result_index %>
</p>
<%= render partial: '/layouts/index'%>
<% end %>
<% unless @fail_result.blank? %>
<p>
    <%= @fail_result %>
</p>
<% end %>
<% if @club_index %>
<h3>Added Clubs</h3>
<% @index_array = @club_index %>
</p>
<%= render partial: '/layouts/index'%>
<% end %>
<% unless @fail_club.blank? %>
<p>
    <%= @fail_club %>
</p>
<% end %>
