<%= @error_hash %>

<%= form_tag comp_from_file_path do %>
<label for="id">File Path</label>
<%= file_field_tag :path %>
<%= submit_tag "Submit" %>
<% end %>
<% if @success %>
<p>success: <%= @success %></p>
<p>fail: <%= @fail %></p>
<% end %>


