<%= form_tag merge_path do %>
<label for="id">First Runner</label>
<% if @runner %>
<%=select_tag :first_name, options_for_select(@runners.map{ |runner| ["#{runner.name} #{runner.surname}", runner.id] }, ["#{@runner.name} #{@runner.surname}", @runner.id])%>
<% else %>
<%= select_tag :first_name, options_for_select(@runners.map{ |runner| ["#{runner.name} #{runner.surname}", runner.id] }) %>
<% end %>
<label for="id">Second Runner</label>
<%= select_tag :second_name, options_for_select(@runners.map{ |runner| ["#{runner.name} #{runner.surname}", runner.id] }) %>
<%= submit_tag "Submit" %>
<% end %>
