<p id="notice"><%= notice %></p>

<h1>Results</h1>

<table>
  <thead>
    <tr>
      <th>Place</th>
      <th>Runner</th>
      <th>Time</th>
      <th>Category</th>
      <th>Competition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.place %></td>
        <td><%= result.runner.name %></td>
        <td><%= Time.at(result.time ).utc.strftime("%H:%M:%S")%></td>
        <td><%= result.category %></td>
        <td><%= result.competition.name %></td>
        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', new_result_path %>

