<%= form_with(model: model) do |form| %>
<% if model.errors.any? %>
<div id="error_explanation">
    <h2>
        <%= pluralize(model.errors.count, "error") %> prohibited this model from being saved:</h2>
    <ul>
        <% model.errors.each do |error| %>
        <li>
            <%= error.full_message %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>
<% elements.each do |el| %>
            <%= render partial: '/layouts/form_fields', :locals => { el: el, form: form } %>
        </tr>
<% end %>
<hr>
<% if defined?(results_exta) %>
<% if hidden %>
<div id="create-result" hidden>
    <% else %>
<div id="create-result">
    <% end %>
    <h2>Add Result Information</h2>
<% results_exta.each do |el| %>
 <%= render partial: '/layouts/form_fields', :locals => { el: el, form: form, selector: ""} %>
        </tr>
<% end %>
</div>
<% end %>
<% if defined?(competition_extra) %>
<% if hidden %>
<div id="create-competition" hidden>
    <% else %>
<div id="create-competition">
    <% end %>
    <h2>Add Competition Information</h2>
<% competition_extra.each do |el| %>
 <%= render partial: '/layouts/form_fields', :locals => { el: el, form: form } %>
        </tr>
<% end %>
</div>
<% end %>





<div class="actions">
    <%= form.submit class: "btn btn-success btn-sm"%>
    <%= link_to 'Back', request.referer, class: "btn btn-secondary btn-sm" %>
</div>
<% end %>
